In [1]:
import pandas as pd
churn_df = pd.read_csv('Customer_churn_raw.csv')
churn_df.head(10)

,Call Failure,Complains,Subscription Length,Charge Amount,Seconds of Use,Frequency of use,Frequency of SMS,Distinct Called Numbers,Tariff Plan,Status,Age,Customer Value,FN,FP,Churn
0,8,0,38.0,0,4370,71.0,5.0,17.0,1,1,5,197.640,177.8760,69.7640,0
1,O,0,39.0,0,NaN,5.0,7.0,4.0,1,1,6,46.035,41.4315,60.0000,0
2,10,0,37.0,0,2453,60.0,359.0,24.0,1,1,2,1536.520,1382.8680,203.6520,0
3,10,0,38.0,0,4198,66.0,1.0,35.0,1,1,10,240.020,216.0180,74.0020,0
4,3,0,NaN,0,2393,58.0,2.0,33.0,1,1,9,145.805,131.2245,64.5805,0
5,11,0,38.0,-1,3775,82.0,32.0,0.0,1,1,15,282.280,254.0520,78.2280,0
6,4,0,38.0,0,2360,39.0,285.0,18.0,1,1,1,1235.960,1112.3640,173.5960,0
7,13,0,37.0,2,9115,121.0,144.0,43.0,1,1,15,945.440,850.8960,144.5440,0
8,7,0,38.0,0,13773,169.0,NaN,44.0,1,1,15,557.680,501.9120,105.7680,0
9,7,0,38.0,1,-4515,83.0,2.0,25.0,1,1,11,191.920,172.7280,69.1920,0

In [2]:
churn_df=churn_df.rename(columns={"Call  Failure": "call_failure", "Complains": "complains", "Subscription  Length": "subs_len", "Charge  Amount": "charge_amount",
                   "Seconds of Use": "seconds_of_use", "Frequency of use": "freq_of_use", "Frequency of SMS": "freq_of_sms", "Distinct Called Numbers": "distinct_call_nums",
                   "Age Group": "age_group", "Tariff Plan": "tariff_plan", "Status": "status", "Age": "age", "Customer Value": "customer_value"})

In [3]:
churn_df.head()

,call_failure,complains,subs_len,charge_amount,seconds_of_use,freq_of_use,freq_of_sms,distinct_call_nums,tariff_plan,status,age,customer_value,FN,FP,Churn
0,8,0,38.0,0,4370,71.0,5.0,17.0,1,1,5,197.640,177.8760,69.7640,0
1,O,0,39.0,0,NaN,5.0,7.0,4.0,1,1,6,46.035,41.4315,60.0000,0
2,10,0,37.0,0,2453,60.0,359.0,24.0,1,1,2,1536.520,1382.8680,203.6520,0
3,10,0,38.0,0,4198,66.0,1.0,35.0,1,1,10,240.020,216.0180,74.0020,0
4,3,0,NaN,0,2393,58.0,2.0,33.0,1,1,9,145.805,131.2245,64.5805,0

### Check for null values in freq_of_use and freq_of_sms columns

Description about the columns:
1. Frequency of use: total number of calls
2. Frequency of SMS: total number of text messages
3. Distinct Called Numbers: total number of distinct phone calls

In [4]:
churn_df['freq_of_use'].isnull().sum()

19

In [5]:
churn_df['freq_of_sms'].isnull().sum()

4

In [6]:
churn_df['freq_of_use'].max()

255.0

In [7]:
churn_df['freq_of_use'].min()# We also have negative values and number of calls cant be negative

-176.0

In [8]:
churn_df['freq_of_sms'].max()

522.0

In [9]:
churn_df['freq_of_sms'].min()# We also have negative values and number of sms cant be negative

-9.0

In [17]:
churn_df['distinct_call_nums'].min()

0.0

In [18]:
churn_df['distinct_call_nums'].max()

97.0

### Imputing null values with mean

These two columns are numerical and are related to the number of calls and SMS sent by consumers, it would be more appropriate to impute null values with the mean value.

In [10]:
import numpy as np

In [19]:
# Imputing mean values in place of null values
cols = churn_df.iloc[:,[5,6,7]]
for x in cols.columns:
    mean_column = np.nanmean(churn_df[x].values)
    churn_df[x].replace(np.nan, mean_column, inplace=True)

In [20]:
churn_df['freq_of_use'].isnull().sum()

0

In [21]:
churn_df['freq_of_sms'].isnull().sum()

0

In [24]:
churn_df['distinct_call_nums'].isnull().sum()

0

In [25]:
# Eliminating the - symbol since the amount of text messages or phone calls cannot be negative.
for i in cols.columns:
    churn_df[i] = abs(churn_df[i])

In [26]:
churn_df.isnull().sum()

call_failure          12
complains             13
subs_len               5
charge_amount          2
seconds_of_use        39
freq_of_use            0
freq_of_sms            0
distinct_call_nums     0
tariff_plan            0
status                 0
age                    0
customer_value        92
FN                     0
FP                     0
Churn                  0
dtype: int64